{% extends "instructor_sidebar.html" %}

{% block link %}

<link rel="stylesheet" href="/static/css/panel.css">

{% endblock %}

{% block content %}

    <a href="{% url 'instructor_courses' %}?tab=academics&course_id={{ course.id }}" class="back-btn">
        ⬅ Back
    </a>

<div class="add_course container">

    <h2>Add Study Material - {{ course.title }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input class="form-control" type="text" name="title" placeholder="Material Title" required>

        <input class="form-control" type="file" name="file" required>

        <button class="btn btn-dark w-100" type="submit">
            Upload
        </button>
    </form>



</div>


{% endblock %}