{% extends "admin_sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>


    {% block content %}
        <div class="course-management">

    <div class="course-actions">
        <a href="{% url 'create_batch' %}" class="action-btn">Add Batch</a>

        <a href="{% url 'add_course' %}" class="action-btn">Add Course</a>

        <a href="{% url 'allocate_instructor' %}" class="action-btn">
            Allocate Instructor
        </a>

        <a href="{% url 'allocate_staff' %}" class="action-btn">
            Allocate Staff
        </a> 
    </div>

    {% endblock %}
</div>
</body>
</html>